extends layout

block content
  h1 #{title}: #{author.name}
  p= author.lifespan_formatted
  
  if author_books.length
  
    p #[strong Borrar los siguientes libros antes de borrar este autor.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Libros
    
      dl
      each book in author_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

  else
    p Esta seguro de eliminar este autor?
    
    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden',name='authorid', required='true', value=author._id )

      button.btn.btn-primary(type='submit') Borrar