extends layout

block content

  h1 Autor: #{author.name}
  p #{author.lifespan_formatted}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Libros
    
    dl
      each book in author_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

      else
        p El auto no tiene libros.
    hr
    p
      a(href=author.url+'/delete') Borrar autor
    p
      a(href=author.url+'/update') Actualizar autor