extends layout
block content
    h1 #{title}: #{book.title}
    if book_instances.length
        p #[strong Borrar las siguientes estancias del libro antes de intentar eliminar el libro.]
  
        div(style='margin-left:20px;margin-top:20px')

            h4 Instancias de libros
        
            ul
                each val in book_instances
                    li 
                        a(href=val.url) #{val.imprint} - 
                        if val.status=='Available'
                            span.text-success #{val.status}
                        else if val.status=='Maintenance'
                            span.text-danger #{val.status}
                        else
                            span.text-warning #{val.status} 
                        if val.status!='Available'
                            span  (Due: #{val.due_back_formatted})

    else
        p Seguro de borrar el libro?
        
        form(method='POST' action='')
            div.form-group
                input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

            button.btn.btn-primary(type='submit') Borrar